<section>
  <nav class='navbar navbar-expand-lg bg-secondary bg-gradient'>
    <div class='container-fluid'>
      <a class='navbar-brand' href='#'>
        Admin Panel
      </a>

     <div class="dropdown">
        <button class="btn btn-info dropdown-toggle bg-success" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
          {{#if adminName}}
          {{adminName}}
          {{else}}
          Account
          {{/if}}
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
          {{#if adminName}}
            <a href="/admin/logout" style="text-decoration: none;"><li><button class="dropdown-item" type="button">Logout</button></li></a>
          {{else}}
            <a href="#" style="text-decoration: none;"><li><button class="dropdown-item" type="button">Login</button></li></a>
          {{/if}}
        </ul>
      </div>
      
    </div>
  </nav>
</section>